*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-footer{
    background-color: #FFC107;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-footer .direitos-autorais{
    font-size: 1.6rem;
}
